<div class = 'container' >
<h1>New Tutorial</h1>
<%= simple_form_for(@cooking_tutorial) do |f| %>
  <%= f.input :title %>
  <%= f.input :location %>
  <%= f.input :description %>
  <%= f.input :date %>
  <%= f.submit %>
<% end %>
<% raise "@cooking_tutorial is nil!" if @cooking_tutorial.nil? %>
</div>
