<h1><%= @cooking_tutorial.title %></h1>

<p><%=  @cooking_tutorial.description%></p>

<p><%= @cooking_tutorial.location %></p>

<p><%= @cooking_tutorial.date %></p>

<p><%= @cooking_tutorial.user %></p>

<p> <%= @cooking_tutorial.bookings.count%></p>

<p><%= link_to "Book Now",  new_cooking_tutorial_booking_path(@cooking_tutorial) %></p>
